#/bin/bash
#for i in $(ps -aux|grep consul-template|awk -F " " '{print $2}');do kill -9 $i;done
nohup consul-template -consul-addr={{ consul_url }} -template "/tmp/haproxy.ctmpl:/etc/haproxy/haproxy.cfg:/etc/haproxy/reloadhaproxy.sh" -log-level=debug > /var/log/consul_template.log &